@import "framework.less";
header.formProgress { position: fixed; top: 0px; left: 0px; width: 100%; right: 0px; z-index: 20; background: @bodyBg; min-width: 1100px;
    .siteNav { margin-bottom: 6px;
        > ul { width: 100%; padding: 0 14px; }
    }
    nav.formNav {
        ul.navList { width: 100%; padding-right: 145px; height: 112px; .clearfix(); position: relative;
            li { .elemFloating(); position: relative; z-index: 1;
                &:before { right: 0px; .progressPesudoLine(@textColor); }
                &:after { left: 0px; .progressPesudoLine(@textColor); }
                &.routeMileStone { text-align: center; width: 14.28%; height: 100px;
                    &.active:after, &.disable:after, &.disable:before {.progressPesudoLine(@disableColor); }
                    .name { font-size: @smallFont; display: block; width: 100%; padding-top: 41px; }
                    .number { display: block; border-radius: 50%; background: @bodyBg; font: bold @bigFont Arial, sans-serif; border: 2px solid @textColor; height: 34px; width: 34px; text-align: center; line-height: 1em; padding: 7px 0px; margin: 12px auto; outline: 6px solid @bodyBg; }
                    &.success {
                        .number { background: @textColor; .Vsign() }
                    }
                    &:first-child { width: 145px; position: absolute; top: 0px; right: 0; }
                    &.selectedRouts { text-align: right; .clearfix();
                        span.routeIcon { .elemFloating(); height: 86px; width: 66px; border-right: 6px solid @bodyBg; position: relative; background-color: @sportsColor; position: relative;
                            &:before { .pesudoAbsolute(); .triangleTopRight(rgba(0,0,0,0.3),14px); bottom: 0px; left: 0px; }
                            &:after { .pesudoAbsolute(); .triangleBottomLeft(@bodyBg,14px); bottom: 0px; left: 0px; }
                            .routesIconsBg();
                            span {
                                &:before { .pesudoAbsolute(); height: 36px; width: 55px; top: 50%; margin-top: -18px; left: 4px; }
                            }
                            &.chole { background-color: @choleColor; }
                        }
                        span.name, span.number { display: none; }
                    }
                }
            }
        }
    }
}



section.mainFormSteps { .containerSizes(); position: relative; min-height: 100%; padding: 180px 0px 80px; z-index: 5;
    h1.stepTitle { padding: 10px 0px 66px;
        &.shortBottom { padding-bottom: 26px; }
        > span { display: block; font-weight: normal;
            &.titleSelf { font-size: 3.6em; font-weight: normal; color: @turqText;
                .pinkTitle { color: @pinkButton; }
            }
            &.titleDescription { font-size: 2.4em; }
        }
    }
    .progressSet {
        .textInput { .progressTextInput();
            &.middle { width: 228px; }
            &.small { width: 72px; }
            &.valid {.qBg(-356px -51px); background-repeat: no-repeat; }
            &.notValid {.qBg(-356px -84px); background-repeat: no-repeat; }
            &.CVV {.qBg(-190px -230px); background-repeat: no-repeat;
                &:focus { background: transparent; }
            }
        }
        .formRow { display: block; padding-bottom: 18px;
            > * {.inlineBlock(middle); }
        }
        &.asks { width: 630px;
            .asksComment { color: @pinkButton; font-size: @bigFont; display: block; padding: 12px 0px;
                &:before {.pinkCommentIcon(); }
            }
            .askRow { display: block; border-bottom: 2px solid @greyBorder; background: white; min-height: 46px; position: relative; padding: 0px 46px 0px 92px;
                &.topSpace { margin-top: 24px; }
                &.bottomSpace { margin-bottom: 10px; }
                &.halfRow {.inlineBlock(top, 0); margin-left: 12px; width: 296px; }
                .rightRowStyle() { display: block; position: absolute; height: 100%; right: 0px; width: 46px; z-index: 20;
                    &:after {.pesudoAbsolute(); width: 2px; left: 50%; margin-left: -1px; top: -1px; bottom: -1px; z-index: -1; background: @turqText; }
                    &.firstRow:after { height: 50%; bottom: -1px; top: auto; }
                    &.lastRow:after { height: 50%; bottom: auto; }
                }
                > I {.rightRowStyle();
                    &.mainCheck em {.checkInputIcon(checked) }
                    &.successRow em, &.waitingRow em { display: block; position: absolute; .squareMaker(10px); border-radius: 50%; background: @turqText; top: 50%; margin-top: -5px; right: 18px; }
                    &.waitingRow em { background: white; border: 2px solid @turqText; }
                    &.arrowIcon {
                        &:after { display: none; }
                    }
                }
                &.titleRow { background: @turqText;
                    > i.radioHeader em {.checkInputIcon(false,22px,8px,12px,true);
                        &:before { left: 11px; }
                        &:after { left: 6px; }
                    }
                }
                > label.startRadio {.rightRowStyle(); .circleRadio(); position: absolute; }
                > label.counterLabel {.counterLabel(); }
                > i.arrowIcon em { display: block; position: relative; .squareMaker(100%);
                    &:before {.pesudoAbsolute(); content: ''; top: 50%; right: 20px; font-size: 20px; font-family: Arial; color: #ccc; display: block; height: 16px; width: 1px; background: @greyBorder; margin-top: -14px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
                    &:after {.pesudoAbsolute(); content: ''; top: 50%; right: 20px; font-size: 20px; font-family: Arial; color: #ccc; display: block; height: 16px; width: 1px; background: @greyBorder; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -2px; }
                }
                .rowDesc { font-size: @standardFont; .inlineBlock(middle, 0); padding: 12px 0px; }
                .rowLabel { display: block; position: absolute; left: 0px; top: 0px; height: 100%;
                    &.smallSwitchLabel {
                        input[type="checkbox"] {.switchCheckBox(); }
                        i { top: 10px; left: 14px; }
                    }
                    &.inlineLabel {.inlineBlock(middle,0); position: relative; }
                }
            }
            .askBlock { border-bottom: 2px solid @greyBorder; background: white; display: inline-block; height: 150px; width: 195px; text-align: center;
                .rowDesc { display: block; padding: 18px 12px 8px; font-size: @biggerFont; height: 86px; }
                .smallSwitchLabel { display: block;
                    input[type="checkbox"] {.switchCheckBox(); display: block; }
                    input[type="checkbox"] + i { position: relative; display: inline-block; }
                }
            }
            .prefereBlock { .inlineBlock(top); box-shadow: 0px 1px 2px rgba(0,0,0,0.4); height: 120px; width: 150px; background: @turqText; color: white; padding: 14px 10px; margin: 0px 0px 10px 6px; position: relative; .circleRadio(20px,@turqText,white);
                label { display: block; position: relative; height: 100%; padding-right: 26px;
                    &:after { .pesudoAbsolute();.squareMaker(50px); bottom: 0px; left: 0px; .pBg(-262px -10px); }
                }
                label.eggs:after {.pBg(-212px -10px); }
                label.fish:after {.pBg(-92px -10px); }
                label.meat:after {.pBg(-154px -10px); }
                label.vegetabels:after {.pBg(-580px -10px); }
                label.fruits:after {.pBg(-316px -10px); }
                label.nuts:after {.pBg(-368px -10px); }
                label.sweets:after {.pBg(-18px -10px); }
                label.drop:after {.pBg(-636px -10px); }
                label.tznon:after {.pBg(-530px -10px); }
                label.ale:after {.pBg(-476px -10px); }
                label.ale2:after {.pBg(-422px -10px); }
                input { .squareMaker(22px); position: absolute; right: 0px; top: 0px; margin: 0; padding: 0; }
                i { top: 0px; margin-top: 0px; right: 0px; }
                input:checked + i:after { background: @textColor; }
                .rowDesc { font-size: @standardFont; padding-top: 2px; display: inline-block; }
                &.noIcon {
                    label { padding: 0px;
                        input { display: block; }
                        .rowDesc { position: absolute; bottom: 0px; }
                        &:after { display: none; }
                    }
                }
                &:nth-of-type(4n) { margin-left: 0px; }
            }
        }
        &.chooseGroup { width: 600px; position: relative; .clearfix(); background: white; box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
            label.chooseLabel { display: block; float: right; width: 300px; padding: 14px; .cssTransition(background-color linear .25s); position: relative;
                &:hover { background: @turqText; }
                &:after { .pesudoAbsolute(); border-bottom: 1px solid @greyBorder; left: 14px; right: 14px; bottom: 0px; }
                .chooseDesc { font-size: @standardFont; .inlineBlock(middle); padding-right: 12px;
                    span { display: block; }
                }
                input { .inlineBlock(middle); height: 22px; width: 22px; opacity: 0;
                    & + i {.checkInputIcon(false,22px,50%,14px,false); margin-top: -11px; background: white; }
                    &:checked + i {.checkInputIcon(checked,22px,50%,14px,false); }
                }
                &:nth-child(odd) { float: left; }
                &:nth-last-child(5):nth-child(odd), &:nth-last-child(-n+4) { margin-left: 5px; float: right; }
                &:nth-last-child(4):nth-child(even) { margin-left: 0px; }
                &:nth-last-child(2):after { display: none; }
                &:last-child { position: absolute; bottom: 14px; left: 14px; background: @bodyBg; margin: 0px; width: 272px; padding-right: 40px;
                    input { position: absolute; margin-top: -11px; top: 50%; right: 14px; opacity: 1; }
                    &:after { display: none; }
                }
            }
        }
        &.rangeOfValue { width: 680px;
            .rangeCalc {.inlineBlock(); width: 312px; margin-left: 16px;
                > span { display: block; border-bottom: 1px solid rgba(0,0,0,0.15); background: white; .clearfix(); padding: 16px 20px;
                    &.valueRow {
                        .valueName { font-size: @standardFont; font-weight: bold; .inlineBlock(middle); width: 135px;
                            > span { display: block; }
                        }
                        .inputAndSelect { background: @turqText; padding: 2px; .inlineBlock(middle); width: 50%; border-radius: 2px;
                            label {.inlineBlock(middle); width: 50%; position: relative; height: 32px; z-index: 20; text-align: center;
                                input, select { width: 100%; display: block; height: 100%; }
                                input { padding: 0px 6px; font-size: @smallFont; border: medium none; background: white; text-align: center; }
                                select { background: @turqText; color: #fff; border: medium none; -webkit-appearance: none; -moz-appearance: none; font-size: 1.6em; padding: 0 4px;
                                    option { height: 26px; }
                                    & + i { position: absolute; left: 4px; .triangle(down,6px,white); display: block; top: 13px; }
                                }
                            }
                        }
                    }
                    &.resultRow { font-size: @smallFont; padding-bottom: 24px; position: relative;
                        .indicator { position: absolute; height: 18px; width: 6px; border: 2px solid white; left: 20px; bottom: 26px; z-index: 20; background: @redLink; }
                        .rangeArea { display: block; float: right;
                            .areaName { color: @disableText; text-align: center; display: block; }
                            .areaLine { border-top: 9px solid white; border-bottom: 9px solid white; position: relative; border-left: 1px solid #969b9d; background: #cacbcb; height: 23px; display: block;
                                &.green { background: @digestionColor; }
                                &.yellow { background: @choleColor; }
                                &.red { background: @redLink; }
                                &:before, &:after { .pesudoAbsolute; width: 60px; text-align: center; bottom: -20px; height: 14px; content: attr(data-start-value); right: 0; margin-right: -30px; }
                                &:after { content: attr(data-end-value); right: auto; left: 0; margin: 0 0 0 -30px; }
                            }
                            &:first-child {
                                .areaLine { border-right: 1px solid @disableText; }
                            }
                        }
                    }
                }
                > label { display: block; font-size: @standardFont; padding: 8px 0px; position: relative;
                    input { .inlineBlock(middle); height: 22px; width: 22px; margin-left: 4px; opacity: 0;
                        & + i { .checkInputIcon(); right: 0px; }
                        &:checked + i { .checkInputIcon(checked); right: 0px; }
                    }
                }
            }
        }
        &.personalDetails { .personalFormStyles(); }
        &.dieticanChoose { position: relative; width: 100%;
            .dieticanCarousel { width: 100%; position: relative; overflow: hidden; height: 324px;
                .dieticanList { position: relative; direction: ltr;
                    li { width: 243px; height: 320px; background: white; box-shadow: 0px 1px 2px rgba(0,0,0,0.25); margin: 0px 6px; direction: rtl;
                        figure { display: block; border-radius: 50%; overflow: hidden; position: relative; width: 100px; height: 100px; border: 4px solid #e5e5e5; margin: 24px auto 16px;
                            img { display: block; width: 100%; }
                        }
                        > * { text-align: center; font-size: @bigFont; direction: rtl; }
                        .dietTitle { font-size: @standardFont; color: @disableText; padding-top: 24px; }
                        .dietName { color: @pinkButton; font-size: 2.8em; }
                        a {.actionButton(); margin: 26px auto 0px; text-align: center; display: block; width: 60%; border-radius: 20px; font-size: @bigFont; height: 36px; line-height: 34px; }
                        &.activeDietican { background: transparent; box-shadow: inset 0 0 10px rgba(0,0,0,0.15);
                            > figure { box-shadow: 0px 0px 10px rgba(255,255,255,0.7); }
                        }
                    }
                }
            }
            > a { display: block; position: absolute; color: @turqText; font-size: 7em; top: 50%; margin-top: -35px; left: -60px; text-decoration: none;
                &.prevDietican { right: -60px; left: auto; }
            }
        }
        &.routeChoose { width: 630px; .clearfix();
            fieldset { .elemFloating(); min-width: 258px; max-width: 318px;
                > p { font-size: @biggerFont; padding-bottom: 10px; }
                &.selectedRoute { width: 258px;
                    label.routeCheckBox { margin-left: 20px; }
                }
                &.routeSet { position: relative; width: 318px; height: 358px;
                    label.routeCheckBox { position: absolute;
                        &:nth-of-type(1) { top: 30px; right: 0; }
                        &:nth-of-type(2) { top: 30px; right: 112 + 12px; }
                        &:nth-of-type(3) { top: 140 + 42px; right: 0; }
                        &:nth-of-type(4) { top: 140 + 42px; right: 112 + 12px; }
                        &.notVisible { top: 182px; right: -258px; }
                    }
                }
                label.routeCheckBox { .cssTransition(all linear 0.5s); .elemFloating(); width: 112px; margin-left: 12px; cursor: pointer; height: 140px; margin-bottom: 12px; background-color: @sportsColor; position: relative; opacity: 1; .routesIconsBg();
                    &:before { .pesudoAbsolute(); .triangleTopLeft(@bodyBg,22px); top: 0px; left: 0px; }
                    &:after { .pesudoAbsolute(); .triangleBottomRight(rgba(0,0,0,0.3),22px); top: 0px; left: 0px; }
                    input[type="checkbox"] { display: block; position: relative; z-index: 5px; width: 100%; margin: 0px; padding: 0px; opacity: 0; height: 88px; cursor: pointer; }
                    span { display: block; font-size: @bigFont; text-align: center; padding: 6px 20px; position: relative;
                        &:before {.pesudoAbsolute(); height: 36px; width: 55px; top: -50px; left: 50%; margin-left: -28px; }
                    }
                    input[type="checkbox"][checked] + i {.Vsign(14px,3px); position: absolute; top: 20px; right: 40px; }
                }
            }
            .buttonsRow { position: relative; padding: 100px 160px 0; clear: both; }
        }
        &.BMI { background: #fff; box-shadow: 0px 0px 2px rgba(0,0,0,0.5); width: 680px;
            > article {.inlineBlock(); }
            article.barRow { height: 150px; width: 430px; padding: 20px 40px 26px 56px;
                &:first-child { border-bottom: 2px solid #e6e6e6; }
                p.values { .clearfix(); font-size: @bigFont;
                    span { display: block;
                        &.rightValue { float: right; padding-top: 10px; }
                        &.leftValue { float: left; }
                        strong { font-size: 1.7em; padding: 0px 3px; .inlineBlock(bottom); color: @textRed; font-weight: normal; }
                    }
                }
                p.bar { padding-top: 12px;
                    .barSelf { display: block; .silverGradient(); height: 60px; position: relative; padding: 22px 2px; .clearfix(); box-shadow: 0px 1px 0px rgba(255,255,255,0.75), inset 0px 1px 4px rgba(0,0,0,0.3);
                        &:after {.rulerStyle(180deg); bottom: 3px; }
                        .numValue { .elemFloating(); font-size: @smallFont; width: 30px; text-align: center; position: relative; }
                        .barWrapper { position: absolute; left: 15px; top: 0px; width: 300px; height: 60px; }
                        .ui-slider-handle { position: absolute; top: -6px; height: 72px; width: 25px; margin-left: -12px; z-index: 100; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4), inset 0px 0px 36px rgba(255, 255, 255, 0.8);
                            &:after { content: ''; height: 52px; display: block; position: absolute; top: 10px; left: 12px; width: 1px; background: @textRed; }
                        }
                    }
                }
                &.height {
                    p.bar {
                        .barSelf {
                            &:before {.rulerStyle(); top: 3px; }
                        }
                    }
                }
            }
            article.BMIresults { height: 300px; width: 251px; background: #c2cbd4; box-shadow: inset -1px 0px 2px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.1);
                p { text-align: center; font-size: @biggerFont;
                    &.whiteTitle { font-size: 3em; color: white; padding-top: 18px; }
                    &.figureValues { margin-bottom: 16px; font-size: @smallFont; color: @disableText; text-align: right; padding: 4px 20px 0px;
                        span.leftValue { display: block; float: left; }
                    }
                }
                figure.BMIGraph { .turqToGreen(); border-radius: 196px 196px 0px 0px; margin: 34px auto 0px; height: 100px; width: 196px; position: relative; box-shadow: inset 0px 1px 4px rgba(0,0,0,0.4); background: -moz-linear-gradient(top, #9dcc5c 0%, #37bf9c 82%, #06b9bb 100%);
                    &:before { content: ''; background: @greyBg; height: 60px; width: 120px; border-radius: 120px 120px 0px 0px; display: block; position: absolute; bottom: 0px; left: 38px; }
                    .indicator { box-shadow: 1px 0px 2px rgba(255,255,255,0.5); display: block; position: absolute; border-radius: 50%; background: #4e5a5f; height: 20px; width: 20px; bottom: -4px; left: 50%; margin-left: -10px; .multiTransform(45deg);
                        &:after { content: ''; z-index: -1; border-bottom: 70px solid #4e5a5f; border-left: 3px solid transparent; border-right: 3px solid transparent; display: block; position: absolute; top: -64px; left: 7px; }
                    }
                }
            }
        }
        &.messageScreen { .clearfix(); padding: 80px 132px 0px 0px;
            .dieticanImage { margin-top: -10px; width: 270px; text-align: right; float: left; }
            .messageBody { position: relative; float: right; width: 550px; background: @greyBg; padding: 38px 26px; min-height: 348px;
                &.progressError { padding-right: 96px;
                    &:before {.pinkCommentIcon(36px,white); top: 38px; right: 40px; position: absolute; }
                }
                &.successProgress { text-align: center;
                    .successIcon { margin: 0px auto; display: block; height: 100px; width: 136px; .Vsign(60px,2px);
                        &:after { margin-top: -4px; }
                    }
                    p { padding: 0px; }
                }
                h4 { font-size: 3.6em; color: @turqText; font-weight: normal; }
                > p { font-size: @bigFont; line-height: 20px;
                    > span { display: block; }
                    padding: 18px 0px 28px;
                    &.bordered { border-bottom: 1px solid @disableText; }
                }
                > a { .actionButton(@turqText); }
                &:after { .pesudoAbsolute();.triangleTopRight(@greyBg,20px); top: 36px; left: -38px; border-left-width: 38px; }
            }
        }
        &.nutrition { position: relative; width: 100%;
            > a { display: block; position: absolute; color: @turqText; font-size: 7em; top: 50%; margin-top: -35px; left: 24px; text-decoration: none;
                &.prevMenu { right: -40px; left: auto; }
            }
            #nutriMenuPager { position: absolute; top: -36px; font-size: 50px; display: block;
                .cycle-pager-active { opacity: 0.5; }
            }
            .menuCarousel { width: 952px; position: relative; overflow: hidden; height: 340px;
                .menusList { position: relative;
                    > li { width: 952px; height: 340px; background: white; margin: 0px 6px; box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
                        > article { .inlineBlock(top); height: 100%;
                            &.menuNameAndNum { width: 230px; background: @turqText; padding: 48px 20px 70px; position: relative;
                                .icon { display: block; border: 2px solid white; border-top-width: 10px; position: relative; height: 50px; width: 50px;
                                    &:before, &:after { .pesudoAbsolute(); height: 8px; width: 8px; border: 2px solid @turqText; background: white; top: -12px; left: 6px; }
                                    &:after { left: auto; right: 6px; }
                                    em { display: block; height: 100%; width: 50px; margin: 0px auto; position: relative; .Vsign(24px,2px);
                                        &:after { margin-top: -3px; }
                                    }
                                }
                                H4 { font-weight: normal; padding: 24px 0px;
                                    > span { display: block; }
                                    .titleSelf { color: white; font-size: 3.2em; }
                                    .titleDescription { font-size: @biggerFont; }
                                }
                                .redButton {.actionButton(@pinkButton); .Vsign(20px, 4px,60px,@textColor); position: absolute; bottom: 20px; width: 185px; padding: 0px 56px 0px 0px; text-align: right;
                                    &:before, &:after { box-shadow: none; left: auto; right: 16px; }
                                    &:after { right: 26px; }
                                }
                            }
                            &.menuDetails { .menuDetails(); }
                            &.nutriMenu { height: 340px;
                                .listWrapper { height: 262px; width: 320px; overflow: auto; }
                                .title { background-color: @disableText; }
                            }
                        }
                        &.activeMenuSlide {
                            > article.menuNameAndNum { background: @pinkButton;
                                .redButton { background: @turqText; font-size: 24px; }
                                .icon:before, .icon:after { border: 2px solid @pinkButton; }
                            }
                        }
                    }
                }
            }
            .nutriMenu {.nutriMenuSect(); }
            .nutriSlider {.inlineBlock(); height: 368px; width: 302px; border: 1px solid @disableText;
                .title { font-size: @biggerFont; text-align: center; padding: 26px 40px; }
                .sliderWrapper { position: relative; height: 240px; padding: 24px 56px; display: block;
                    &:before { .pesudoAbsolute(); top: 0px; bottom: 0px; width: 11px; right: 109px; border-radius: 10px; border: 1px solid @disableText; background: @greyBorder; }
                    .rowIndicators { display: block; position: absolute; top: 24px; bottom: 24px; left: 56px; right: 56px;
                        > span { display: block; height: 38px; top: 0px; margin-top: -19px; right: 0px; position: absolute; font-size: @standardFont;
                            .icon { .inlineBlock(middle); .squareMaker(38px); .qBg(-193px -181px); }
                            &.middle { top: 50%;
                                .icon {.qBg(-166px -153px, 340px auto); }
                            }
                            &.bottom { top: 100%;
                                .icon {.qBg(-149px -138px, 310px auto); }
                            }
                            .barIndicator {.inlineBlock(middle);.circleMaker(7px); margin: 0px 12px 0px 24px; background: @disableText; position: relative;
                                &:after { .pesudoAbsolute(); height: 1px; background: @disableText; width: 16px; left: -22px; margin-top: -1px; top: 50%; }
                            }
                        }
                    }
                    .sliderSelf { display: block; position: absolute; top: 24px; bottom: 24px; width: 11px; right: 109px;
                        a { .circleMaker(22px); display: block; position: absolute; box-shadow: 0px 1px 2px rgba(0,0,0,0.1); margin-bottom: -11px; background: white; left: -5px; }
                    }
                }
            }
        }
        &.checkOutPage {.checkOut(); }
        &.sportsRange { background: white; box-shadow: 0px 1px 2px rgba(0,0,0,0.4); height: 184px; .inlineBlock();
            .branchName { .inlineBlock(); height: 100%; width: 204px; color: white; font-size: @biggerFont; text-align: center; padding: 22px; .sportIconsBg(); background: @purple; position: relative; }
            .rangeIndex { padding: 0px 30px; min-width: 400px; .inlineBlock();
                .row { display: block; padding: 20px 0px;
                    &:first-child { border-bottom: 1px solid @greyBorder; }
                    > .rowDesc {.inlineBlock(middle); font-size: @standardFont; width: 102px; padding-right: 40px;
                        &:first-child { padding: 0px; width: 62px; }
                    }
                    > .rangeInputs { .inlineBlock(middle);
                        label { background: @bodyBg; width: 48px; padding: 8px 6px; .inlineBlock();
                            > * { display: block; width: 100%; text-align: center; }
                            > input { background: transparent; border: medium none; }
                            > span { color: @disableText; font-size: @smallFont; padding-top: 4px; }
                        }
                        .rangeButtons {.inlineBlock(middle);
                            i { display: block; background: @pinkButton; color: white; width: 30px; text-align: center; cursor: pointer; height: 25px; border-top: 1px solid white; font-size: @bigFont; font-weight: bold; font-style: normal;
                                &:first-child { border-top: medium none; }
                            }
                        }
                    }
                    .slideValue { display: block; font-size: @bigFont;
                        &:before { content: ''; .inlineBlock(text-bottom); width: 16px; height: 23px; .qBg(-254px -191px); margin-left: 6px; }
                        .colored { color: @sportsColor; }
                    }
                    .slideSelf {.rainbowGrad; height: 3px; display: block; position: relative; margin: 14px 0px;
                        a { display: block; position: absolute; .circleMaker(22px); background: white; top: -10px; box-shadow: 0px 1px 2px rgba(0,0,0,0.5); }
                    }
                }
            }
        }
        &.sportIcons {.clearfix(); width: 600px;
            label { .squareMaker(140px); z-index: 20; background: @purple; position: relative; font-size: @bigFont; padding: 10px; color: white; margin: 0px 0px 6px 6px; display: block; float: right; .sportIconsBg();
                input { opacity: 0;
                    & + i { display: block; height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: -1;
                        &:before { .pesudoAbsolute(); width: 200%; height: 200%; top: -198px; left: 0px; z-index: -1; box-shadow: inset 0px 0px 200px rgba(255,255,255,0.1); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
                    }
                    &:checked + i { background: @nutriColor;
                        &:after {.pesudoAbsolute(); bottom: 10px; left: 10px; height: 20px; width: 20px; background: url(../images/questSprite.png) -366px -60px; }
                    }
                }
            }
        }
        &.successPage {
            > article { .inlineBlock(middle);
                &.message { width: 704px; padding-left: 24px;
                    > I { .circleMaker(96px); display: block; border: 4px solid @successColor; position: relative;
                        &:before {.pesudoAbsolute(); height: 44px; width: 50px; .qBg(-200px -124px); top: 22px; left: 23px; }
                    }
                    .title { color: @successColor; font-size: 3.6em; padding-top: 12px; }
                    .messageBody { display: block; font-size: @biggerFont; padding: 12px 0px 46px 100px; }
                    .continueButton { .actionButton(@successColor,0,220px,center,42px); padding-left: 0px; padding-right: 40px; font-size: @bigFont;
                        @opacityBlack: rgba(0,0,0,0.30);
                        &:before, &:after { -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; box-shadow: none; }
                        &:before {.triangle(left,6px,@opacityBlack); background: transparent; right: 46px; left: auto; top: 14px; }
                        &:after { height: 2px; width: 16px; top: 19px; left: auto; right: 30px; background: @opacityBlack; }
                    }
                }
                &.coupons {
                    > article { width: 292px; border: 5px solid @bodyBg; outline: 1px dashed @textColor; margin-bottom: 10px; .clearfix(); padding: 18px 30px 18px 22px;
                        &.yellow { background: @choleColor; }
                        &.turq { background: @turqText; }
                        .num { font-size: 2.6em; color: @nutriColor; padding-left: 0.4em;
                            strong { font-size: 2em; font-weight: normal; vertical-align: text-bottom; }
                        }
                        > span { .inlineBlock(middle);
                            > span { display: block; font-size: @bigFont;
                                &.titleStyle { color: @nutriColor; font-size: 2.4em; }
                            }
                        }
                        > figure { float: left; .circleMaker(78px); border: 4px solid rgba(255,255,255,0.15); overflow: hidden;
                            & + .num { float: right; width: auto; clear: none; display: block;
                                & + span { display: block; width: 100%; clear: both; }
                            }
                        }
                    }
                }
            }
        }
        &.paymentPage {
            h4 { background: @greyBg; padding: 12px; font-weight: normal;
                span { color: white; font-size: 3.6em; line-height: 40px; }
                a { .actionButton(@darkBlue,0,200px,right); padding-right: 20px; display: block; float: left; }
            }
            > fieldset {.inlineBlock(top); margin-top: 50px; padding-bottom: 40px;
                h5 { font-size: 2.4em; padding-bottom: 22px; font-weight: normal; }
                .textInput { .inlineBlock(middle); }
                &.shippingDetails { width: 560px; border-left: 1px solid @greyBg; padding-right: 0px; }
                &.cardDetails { width: 440px; padding-right: 66px;
                    .textInput { width: 224px;
                        &.small { width: 72px; }
                        &.soSmall { width: 48px; padding: 0px 4px; }
                    }
                }
                .negativeTop { margin-top: -20px; }
                textarea { display: block; height: 90px; width: 394px; }
                .formRow {
                    .rowDesc { width: 110px; font-size: @standardFont; .inlineBlock(middle); }
                    .block { display: block; width: auto; padding-bottom: 4px; }
                }
                .creditCardSet { background: #e3e3e3; border: 1px solid @greyBorder; position: relative; z-index: 20; padding: 10px 26px 36px;
                    &:before { .pesudoAbsolute;.triangleBottomLeft(#e3e3e3,200px); border-right: 140px solid transparent; z-index: -1; top: 0px; right: 0px; }
                    &:after { .pesudoAbsolute(); width: 140px; height: 200px; right: 0px; top: 0px; z-index: -2; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 1%, rgba(255,255,255,0.05) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(1%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.05))); background: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.05) 100%); background: -o-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.05) 100%); background: -ms-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.05) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 1%,rgba(255,255,255,0.05) 100%); }
                    .cardNum {
                        .textInput { width: 100%; }
                    }
                    .leftRow { float: left; }
                }
                .priceTotal { display: block; .clearfix(); padding: 16px 0px 28px;
                    > span { display: block; font-size: @bigFont;
                        &.leftPayments { float: left; font-size: @standardFont; }
                        &.pinkLady { color: @pinkButton;
                            strong { font-size: 2.2em; font-weight: normal; }
                        }
                    }
                }
                A.actionButton { .actionButton(@pinkButton,255,120,center); width: 100%; }
            }
        }
        &.summary {
            .topMessage { height: 222px;
                > * { .inlineBlock();
                    &.messageSelf { border-radius: 2px; background: @turqText; z-index: 10; box-shadow: inset 0px -4px 0px rgba(0,0,0,0.4), inset -341px 0px 682px rgba(0,0,0,0.1); width: 682px; color: white; padding: 16px 228px 16px 40px; margin-left: 70px; position: relative;
                        span { display: block; font-size: @biggerFont; padding: 12px 0px;
                            &.title { font-size: 2.6em; }
                        }
                    }
                    &.dieticanImage { position: relative;
                        &:before { .pesudoAbsolute(); z-index: 1; .triangle(down,60px,darken(@turqText, 1%)); top: 32px; right: -148px; border-top-width: 50px; }
                    }
                }
            }
            h3 { font-size: 2.4em; font-weight: normal; }
            .productRow { .productRowAll(); }
        }
        .nutritionMenu {.nutritionMenuAll(); }
        .bloodAndBMI {.bloodAndBMIAll(); }
    }
}
article.dieticianSection { position: absolute; height: 536px; left: 0px; bottom: 0px; width: 370px;
    .dietImage { position: absolute; bottom: 0px; left: 0px; z-index: -1; }
    .messageBaloon { width: 244px; height: 226px; top: 0; right: 0; position: absolute; z-index: -1; color: white; font-size: @biggerFont; background: url(../images/baloon.png); padding: 30px 40px 60px; .pesudoValign();
        &.small { border-radius: 2px; background: #41bdbd; z-index: 10;z-index:20; box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.4), inset -141px 0px 282px rgba(0, 0, 0, 0.1); width: 282px; color: white; padding:12px 16px 16px; margin-left: 70px; position: absolute; top: auto; bottom: 114px; right: auto; left: 180px; height: 120px;
                  &:after { .pesudoAbsolute(); z-index: 1; .triangle(down,60px,darken(@turqText, 2%)); top: 32px; left: -59px; border-top-width: 50px;border-right:medium none;z-index:-1; }
        }
        > span { display: inline-block; vertical-align: middle; text-align: center; }
    }
    .sendDietMessage { display: block; position: absolute; top: 224px; left: 60px;
        &:before { content: attr(title); background: #d9d9d9; color: #4e5a5f; font-size: 1.6em; height: 24px; line-height: 22px; -webkit-transition: width linear .25s; transition: width linear .25s; border-radius: 18px; top: 6px; right: 10px; position: absolute; display: block; white-space: nowrap; width: 0; overflow: hidden; }
        &:after {.pesudoAbsolute();.circleMaker(36px); background: @turqText; .qBg(-195px 3px); }
        &:hover:before { width: 134px; padding: 0px 30px 0 10px; }
    }
    .toggleDietician {.circleMaker(26px); background: @disableText; color: @bodyBg; display: block; position: absolute; bottom: 20px; font-size: 20px; text-align: center; font-weight: bold; text-decoration: none; line-height: 28px; right: 80px; }
}
article.dieticianSectionSmall { position: absolute; height: 140px; left: 60px; bottom: 0;display:none;
    figure { height: 100%; float: left;
        img { display: block; height: 100%; width: auto; }
    }
    .toggleDietician { display: block; position: absolute; left: 130px; white-space: nowrap; padding-left: 40px; bottom: 40px; font-size: 1.6em; text-decoration: none;
        &:after {.pesudoAbsolute(); content: '+'; color: @bodyBg; background: @disableText; left: 0; top: -4px; height: 24px; font-size: 30px; border-radius: 4px; line-height: 22px; width: 32px; text-align: center; }
        &:before {.pesudoAbsolute(); top: 9px; .triangle(right,10px,@disableText); left: 12px; .multiTransform(20deg); }
    }
}
.buttonsRow { position: absolute; right: 0px; bottom: 10px;
    &.noButton { padding-right: 160px;
        > * { display: block; font-style: italic; font-size: @bigFont; line-height: 16px; }
        a { text-decoration: none; color: @redLink; .goToArrow(22px,16px); }
    }
    a.button { .actionButton(); margin-left: 16px;
        &.backButton {.actionButton(@greyBg, 0,1px); }
        &.facebookLogin {.actionButton(#516db1, 0,1px); }
        &.loaderButton {.actionButton(@disableColor,0,1px); }
    }
    .plainRow { font-size: @standardFont; .inlineBlock(middle); }
}
.siteNav { .crossSiteNav(); }
.sendMessageSect();
.loginFormMix();

@media all and (max-width:1024px) {
    header.formProgress { position: relative; min-width: 1100px; }
    section.mainFormSteps { padding-top: 20px; }
}
