@import "framework.less";

header.topMenu.homeTop { .clearfix();.containerSizes(0px,1100px); position: absolute; left: 50%; margin-left: -550px;
    nav { float: right;
        li { .inlineBlock(top); padding-top: 30px; position: relative; z-index: 200;
            A { display: block; height: 32px; font-size: @standardFont; line-height: 32px; padding: 0px 16px;
                &.enterButton { background: @textColor; color: @bodyBg; border-radius: 32px; text-decoration: none;
                    &:before { .inlineBlock(middle); height: 22px; width: 30px; .homeSprite(-79px -1px); margin-left: 14px; content: ''; }
                }
            }
            .loginFormMix();
            .loginForm { top: 70px; background: @bodyBg; border-color: @textColor; z-index: 200; color: @textColor;
                a { font-size: 16px; color: @nutriColor; padding: 0; line-height: 1; display: block; float: right;
                    &.loginButton { background: @turqText; color: white; }
                }
                label > *.textInput { border-color: darken(@bodyBg, 10%); }
                &:before {.pesudoAbsolute();.triangle(up,7px,@textColor); top: -7px; right: 16px; }
            }
        }
    }
    > a { display: block; float: left; width: 78px; height: 56px; .homeSprite(); margin: 22px 40px 0px 0px; }
    > article { float: left; overflow: hidden; width: 274px; height: 60px; margin-top: 22px;
        .cycle-pager { display: block; bottom: 0px; right: 10px; font-size: 5em; position: absolute; line-height: 20px;
            > span:not(.cycle-pager-active) { opacity: 0.2; }
        }
    }
}
.homeSideMenu { position: fixed; right: 4px; top: 50%; height: 70px; padding: 5px 0; margin-top: -35px; z-index: 20000; border-radius: 20px; border: 1px solid @disableColor;
    li { height: 20px; width: 20px; text-align: center;
        a { text-decoration: none; display: block; width: 100%; height: 100%; position: relative;
            &:before { content: ""; position: absolute; top: 4px; left: 4px; .circleMaker(12px); background: @textColor; opacity: 0.5; }
            &:hover:after { content: attr(data-tooltip); position: absolute; right: 20px; background: @textColor; color: @bodyBg; height: 20px; line-height: 18px; white-space: nowrap; font-size: 15px; border-radius: 6px; padding: 0 6px; }
            &.current:before { opacity: 1; }
        }
    }
}
section.homeMainSections { background: @homeBg; border-top: 1px solid rgba(0,0,0,0.15);
    &.productsContainer {
        h3.sectionTitle { background: @homeBg; padding: 50px 0 40px;
            strong { color: @turqText; }
        }
        > ul { .containerSizes(0,1100px); }
    }
    &.howIsWork { background: @homeBg;
        h3.sectionTitle { background: @homeBg;
            strong { color: @disableText; }
        }
        .howIsWorkContainer { .containerSizes(0,1100px); padding: 32px 0px 52px;
            ul.formulaSteps { text-align: center; position: relative; z-index: 20;
                &:before { .pesudoAbsolute(); border: 2px dashed rgba(0,0,0,0.2); height: 168px; width: 1050px; left: 50%; margin-left: -525px; border-radius: 40px; top: -34px; z-index: -2; }
                &:after { .pesudoAbsolute(); background: @homeBg; .squareMaker(200px); z-index: -1; top: -50px; left: 0px; }
                li { .inlineBlock(top); text-align: center; width: 33%;
                    figure { .squareMaker(160px);.pesudoValign(); background: @homeBg; margin: 50px auto;
                        &:after { content: ''; .inlineBlock(middle);.squareMaker(160px); }
                        &.capsula:after {.homeSprite(-254px 5px); }
                        &.quest:after {.homeSprite(-10px -60px); height: 132px; width: 100px; }
                        &.shipping:after {.homeSprite(-124px 2px); height: 132px; width: 120px; }
                    }
                    .title { display: block; font-size: 3.6em; }
                    .text { display: block; font-size: @bigFont; padding: 32px 0px 80px;
                        > span { display: block; }
                    }
                }
            }
            a.continueButton { .actionButton(@azure,0,220px,center,42px,true); display: block; margin: 0px auto; width: 220px; }
        }
    }
    h3.sectionTitle { text-align: center; width: 840px; margin: 0px auto; position: relative; z-index: 21;
        > span { display: block; font-weight: normal;
            &.titleSelf { font-size: 4.8em;
                strong { font-weight: normal; }
            }
            &.titleDescription { font-size: 2.5em; color: @disableText; }
        }
    }
    &.aboutUs { background: url(../images/handmadepaper.png); padding: 32px 0px 0px;
        h3.sectionTitle {
            strong { color: @sportsColor; }
        }
        > article { .containerSizes(0,1100px); padding: 80px 0 190px;
            > article { .inlineBlock(middle); max-width: 636px;
                &.aboutSelf { padding-left: 62px;
                    h4 { font-size: 3.6em; color: @sportsColor; padding-bottom: 28px; font-weight: normal; }
                    p { padding-bottom: 22px; font-size: @bigFont; }
                }
                &.newsSections {
                    > ul { .inlineBlock();
                        &.sectionsContainer { background: white; width: 306px; height: 356px;
                            li { padding: 104px 32px 46px 12px;
                                p.title { font-size: 2.4em; line-height: 20px; padding-bottom: 22px; }
                                .textBlock { display: block; height: 126px; font-size: @standardFont; line-height: 20px; overflow: hidden; }
                                .date { font-size: @smallFont; }
                                &:before, &:after { .pesudoAbsolute(); content: '"'; .circleMaker(26px); font-size: 34px; line-height: 38px; text-align: center; color: @disableColor; border: 2px solid @disableColor; top: 32px; right: 32px; }
                                &:after { top: auto; right: auto; left: 32px; bottom: 40px; }
                            }
                        }
                        &.newsSectionsPager { width: 160px; padding-right: 28px;
                            li { background: white; height: 86px; margin-bottom: 4px; .pesudoValign(); vertical-align: middle; text-align: center; position: relative;
                                &.cycle-pager-active:after { .pesudoAbsolute();.triangle(right,10px,white); right: -10px; top: 32px; }
                                img { max-width: 90%; max-height: 90%; vertical-align: middle; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter: grayscale(100%); filter: gray; -webkit-transition: all .6s ease; -webkit-backface-visibility: hidden; }
                                img:hover, &.cycle-pager-active img { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); }
                            }
                        }
                    }
                }
            }
        }
    }
    &.homeTopContainer { position: relative; z-index: 20; height: 860px; padding-top: 698px;
        &:after { content: ""; position: absolute; width: 100%; height: 160px; bottom: 0; left: 0; box-shadow: 0px -1px 12px -6px rgba(0,0,0,0.3); background: #e4e9eb; border-bottom: 1px solid rgba(0,0,0,0.05); }
        .homeSlideShow { position: absolute; z-index: -1; top: 0px; left: 0px; width: 100%; height: 860px; overflow: hidden;
            > .slideWrapper { width: 100%; .noiseOnBg; height: 100%; position: relative; z-index: 20; .homeSlideColors();
                &.nutri { .homeSlideColors(@nutriColor); }
                &.sports { .homeSlideColors(@sportsColor); }
                &.chole { .homeSlideColors(@choleColor); }
                &.sugar { .homeSlideColors(@sugarColor); }
                &.digestion { .homeSlideColors(@digestionColor); }
                .slideContainer {.containerSizes(0px,1100px); padding-top: 130px; position: relative; height: 100%;
                    > figure.mainSlideImage { position: absolute; bottom: 280px; left: -80px;
                        img { display: block; }
                    }
                    h2 {
                        .titleSelf { font-size: 6em; display: block; color: white; padding-top: 8px; font-weight: normal; -webkit-text-shadow: 0px 2px 0px rgba(0,0,0,0.5); text-shadow: 0px 2px 0px rgba(0,0,0,0.5); }
                    }
                    span.slideDescription { display: block; font-size: @biggerFont; padding: 18px 0px 32px; line-height: 24px;
                        > span { display: block; }
                    }
                }
                &:before { .pesudoAbsolute(); height: 100%; width: 100%; z-index: -1; .whiteShadGrad; }
            }
        }
        .homeSlidePager { display: block; position: absolute; bottom: 160px; height: 120px; width: 100%; left: 0px; text-align: center; z-index: 20;
            > article { .homeSlidePagerColors();.inlineBlock(); width: 186px; height: 100%; cursor: pointer; -webkit-transition: all linear 1s;
                &.nutri { .homeSlidePagerColors(@nutriColor); }
                &.sports { .homeSlidePagerColors(@sportsColor); }
                &.chole { .homeSlidePagerColors(@choleColor); }
                &.sugar { .homeSlidePagerColors(@sugarColor); }
                &.digestion { .homeSlidePagerColors(@digestionColor); }
                .button { font-size: 2.4em; display: block; margin: 0px 4px; position: relative; line-height: 116px;
                    i { .circleMaker(56px); box-shadow: 0px 1px 2px rgba(0,0,0,0.4); top: -29px; position: absolute; left: 50%; margin-left: -23px; }
                    &:before { .pesudoAbsolute(); height: 3px; width: 100%; top: -3px; }
                }
                &.cycle-pager-active { color: @textColor;
                    .button {
                        i { .circleMaker(64px); top: -33px; margin-left: -32px; border-radius: 50% 50% 0px 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
                    }
                }
            }
        }
        .ourTeam {.containerSizes(0,1100px); height: 160px; z-index: 40; padding: 30px 0px; position: relative;
            > h3 { .inlineBlock(); max-width: 150px; font-size: 2.6em; font-weight: normal; }
            span.pager {
                span { display: block; position: absolute; top: 50%; cursor: pointer; color: white; font-size: 3.5em; margin-top: -25px; right: 110px; -webkit-transform: scale(1,2); -moz-transform: scale(1,2); -ms-transform: scale(1,2); -o-transform: scale(1,2); transform: scale(1,2);
                    &.prev { right: auto; left: 0px; }
                }
            }
            > ul { .inlineBlock(); direction: ltr;
                li { padding-left: 30px; direction: rtl;
                    figure { .circleMaker(100px); overflow: hidden; border: 2px solid white; .inlineBlock(middle); margin-left: 20px; }
                    > span { .inlineBlock(middle); direction: rtl; text-align: right;
                        > img { display: block; margin-bottom: 8px; }
                        > span { font-size: @standardFont; display: block;
                            &.memberName { font-size: 2.4em; }
                        }
                    }
                }
            }
        }
    }
}
.sendMessageSect();
.topMenu.mixerTop {
    .siteNav { .crossSiteNav(@mixerAzure,78px); }
}
.mixerPage { position: relative; padding-bottom: 1px;
    &:before {.pesudoAbsolute(); opacity: 0.1; .noiseOnBg(); height: 100%; width: 100%; }

    .topMixerSect { z-index: 20; background: @mixerAzure; border-top: 1px solid rgba(255,255,255,0.3); box-shadow: inset 0 -200px 400px -200px rgba(0,0,0,.2), inset 0px -1px 2px rgba(0,0,0,0.3); padding-bottom: 10px; margin-top: -20px; position: relative;
        &:after { .pesudoAbsolute();.squareMaker(30px); left: 50%; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: @mixerAzure; margin-left: -15px; bottom: -15px; z-index: -1; box-shadow: inset -220px 0px 400px -200px rgba(0,0,0,.2),inset -1px -1px 2px rgba(0,0,0,.3); }
        &:before { .pesudoAbsolute(); width: 40px; height: 20px; background: @mixerAzure; left: 50%; bottom: 0; margin-left: -20px; box-shadow: inset 0 -200px 400px -190px rgba(0,0,0,.2); }
        h1 { .containerSizes(); color: white; padding: 100px 0px 20px; text-align: center; font-size: 4em; font-weight: normal; position: relative;
            i { display: block; position: absolute; .squareMaker(50px); position: absolute; left: 50%; top: 30px; margin-left: -25px;
                &:before { .pesudoAbsolute(); width: 2px; height: 50px; left: 5px; background: white; box-shadow: 18px 0 0 #fff,38px 0 0 #fff; }
                &:after { .pesudoAbsolute(); top: 8px; left: 0px; border: 2px solid white; height: 9px; width: 12px; background: @mixerAzure; outline: 2px solid @mixerAzure; box-shadow: 18px 12px 0 -2px @mixerAzure, 18px 12px 0 #fff, 18px 12px 0 2px @mixerAzure, 38px 26px 0 -2px @mixerAzure, 38px 26px 0 #fff, 38px 26px 0 2px @mixerAzure; }
            }
        }
        .wholeText { font-size: @standardFont; line-height: 22px; display: block; .containerSizes(); text-align: center; }
        .personalDetails { margin: 30px auto; background: rgba(255,255,255,0.3); width: 366px;
            > * { .inlineBlock();
                &.avater { width: 70px; height: 70px; text-align: center;
                    img { max-width: 100%; max-height: 100%; }
                }
                &.formRow { white-space: nowrap; padding: 0px 12px;
                    .inputText { display: block; font-size: @bigFont; text-align: right; padding-bottom: 8px; }
                    input.textInput {.progressTextInput(); width: 60px; border-color: @disableText; }
                    .inlineLabel { .inlineBlock(); }
                    input.radioSwitch { opacity: 0; position: absolute; }
                    input.radioSwitch + span { .genderSwitch(false); border-color: @disableText; }
                    input.radioSwitch:checked + span { .genderSwitch(true); border-color: @disableText; color: @textColor; }
                }
            }
        }
    }
    .profileChoose { .clearfix();.containerSizes(0,1100px); padding: 26px 0;
        > * { display: block; float: left;
            &.selectLabel { width: 228px; height: 36px; position: relative; float: right;
                &:before { .pesudoAbsolute(); height: 32px; top: 2px; border-left: 1px solid @disableColor; left: 34px; }
                &:after { .pesudoAbsolute(); .triangle(down,8px,@mixerAzure); top: 14px; left: 10px; }
                > select { background: white; box-shadow: 0px 1px 2px rgba(0,0,0,0.5); display: block; height: 100%; width: 100%; border: medium none; -webkit-appearance: none; color: @textColor; -moz-appearance: none; }
            }
            &.mixerSteps { font-size: @smallFont; margin-left: -34px;
                > li { position: relative; padding: 0px 34px 26px; .inlineBlock();
                    &:before { .pesudoAbsolute(); background: rgba(0,0,0,0.15); height: 2px; width: 100%; left: 0; bottom: 11px; }
                    &:after { .pesudoAbsolute();.circleMaker(20px); border: 2px solid darken(@bodyBg, 15%); background: darken(@bodyBg, 15%); bottom: 0; left: 50%; margin-left: -10px; box-shadow: inset 0 0 0 8px @bodyBg; }
                    &.active {
                        &:after { box-shadow: inset 0 0 0 4px @bodyBg; }
                    }
                    &:first-child {
                        &:before { width: 50%; }
                    }
                    &:last-child {
                        &:before { width: 50%; left: auto; right: 0; }
                    }
                }
            }
        }
    }
    .mixerContainer { background: rgba(255,255,255,0.9); box-shadow: 0px 1px 4px rgba(0,0,0,0.25); .containerSizes(0,1100px); margin-bottom: 60px; position: relative;
        .recipes { display: block; position: absolute; top: 18px; font-size: @bigFont; right: 30px;
            > span { .inlineBlock(); padding-left: 10px;
                &:before { .inlineBlock(middle); content: ''; .squareMaker(10px); margin-left: 6px; background: lighten(@turqText, 10%); }
                &.pink:before { background: lighten(@nutriColor, 10%); }
                &.black:before { background: lighten(@mixerBlack, 10%); }
            }
        }
        .mixerSelf { position: relative;
            &:before { .pesudoAbsolute(); height: 304px; width: 100%; top: 130px; background: @summaryGrey; box-shadow: inset 0px -1px 20px rgba(0,0,0,0.05); }
            > article.mixerWrapper { height: 100%; width: 902px; margin: 0px auto; position: relative; overflow: hidden; height: 304 + 260px; padding: 130px 0px; }
            .mixerCarousel { white-space: nowrap; position: absolute; top: 130px; right: 0; .clearfix();
                li { position: relative; height: 304px; width: 82px; float: right;
                    > span:not(.rangeLine) { display: block; position: absolute;
                        &.topValue { font-size: @biggerFont; height: 20px; left: 50%; width: 70px; margin-left: -35px; text-align: center; top: -54px; font-weight: bold; }
                        &.bottomValue { height: 54px; left: 50%; width: 70px; margin-left: -35px; text-align: center; bottom: -92px; font-size: @standardFont;
                            .mark { display: block; width: 100%; background: #fafafb; border: 1px solid @greyBorder; border-radius: 30px; height: 30px; color: @turqText; font-size: 1.2em; line-height: 26px; font-weight: bold; }
                            &.pink .mark { color: @nutriColor; }
                            &.black .mark { color: @mixerBlack; }
                        }
                    }
                    .rangeLine { display: block; height: 100%; margin: 0px auto; width: 10px; position: relative; background: rgba(0,0,0,0.05); box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
                        &:after { top: 0; left: 0; right: 0; bottom: 0; z-index: 30; .pesudoAbsolute(); }
                        .lineSelf { display: block; height: 100%; width: 100%; position: relative;
                            a { display: none !important;
                                &:last-child { display: block !important; z-index: 100; position: absolute; .circleMaker(23px); box-shadow: 0px 1px 1px rgba(0,0,0,0.4); margin-left: -11px; margin-bottom: -11px; left: 50%; background: url(../images/generalSprite.png) -351px -79px; }
                                .toolTip { opacity: 0; .cssTransition(all linear .25s); background: @textColor; color: white; text-align: center; overflow: hidden; width: 140px; z-index: 200; font-size: @smallFont; border-radius: 2px; left: 50%; position: absolute; height: 0; margin-left: -70px; bottom: 30px;
                                    &:before { .pesudoAbsolute();.triangle(down,8px,@textColor); bottom: -6px; left: 50%; margin-left: -8px; }
                                }
                                &.ui-state-focus .toolTip, &:hover .toolTip { opacity: 1; display: block; height: auto; overflow: visible; padding: 12px; }
                            }
                            > div { background: @turqText; display: block; position: absolute; width: 100%; box-shadow: inset 0 200px 400px -200px rgba(255,255,255,.7); }
                            &.pink > div { background: @nutriColor; }
                            &.black > div { background: @mixerBlack; }
                        }
                        .numValues { display: block; position: absolute; width: 32px; padding-left: 10px; left: 48px; font-size: 14px; color: @disableText; height: 19px; line-height: 19px;
                            &:before { .pesudoAbsolute(); top: 50%; background: @disableText; height: 1px; width: 6px; left: 0; }
                        }
                    }
                }
            }
            .mixerPager {
                a { display: block; position: absolute; margin-top: -30px; right: 40px; top: 50%; font-size: 4em; text-decoration: none; -webkit-transform: scale(1,2); -moz-transform: scale(1,2); -ms-transform: scale(1,2); -o-transform: scale(1,2); transform: scale(1,2);
                    &.mixerPrev { right: auto; left: 40px; }
                }
            }
            .recommendValue { display: block; border-top: 1px dashed lighten(@redLink, 10%); width: 980px; position: absolute; top: 230px; left: 50%; margin-left: -490px;
                &:before { display: block; position: absolute; .circleMaker(22px); right: -6px; top: -12px; content: ''; background: @redLink; }
                &:after {.pesudoAbsolute();.triangle(left,10px,@redLink); position: absolute; right: 10px; top: -11px; }
                > span { display: block; position: absolute; color: @redLink; width: 60px; bottom: 20px; font-size: @standardFont; }
            }
        }
        .bottomActions { padding: 36px 110px 36px 70px; background: rgba(0,0,0,0.02); border-top: 1px solid rgba(0,0,0,0.1);
            > * { .inlineBlock(middle);
                &.makeButton { .actionButton(@turqText,0,220px,center,42px); padding-left: 0px; padding-right: 40px; font-size: @bigFont;
                    @opacityBlack: rgba(0,0,0,0.30);
                    &:before, &:after { -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; box-shadow: none; }
                    &:before {.triangle(left,6px,@opacityBlack); background: transparent; right: 46px; left: auto; top: 14px; }
                    &:after { height: 2px; width: 16px; top: 19px; left: auto; right: 30px; background: @opacityBlack; }
                }
                &.numChoose { width: 700px;
                    > * { .inlineBlock(middle);
                        &.rowDesc { font-size: @biggerFont; }
                        &.inlineLabel { .squareMaker(48px); position: relative; margin: 0px 6px;
                            input { opacity: 0; display: block; position: absolute; }
                            input + i { cursor: pointer; display: block; .circleMaker(48px); border: 2px solid @textColor; background-image: url(../images/mixerPills.png); background-position: 0 -1px; }
                            &:last-child input + i { background-position: -1px -48px; }
                            input:checked + i { border-color: @turqText; background-position: -49px -1px; }
                            &:last-child input:checked + i { background-position: -49px -49px; }
                        }
                    }
                }
            }
        }
    }
}
.topMenu.userTop {
    .siteNav { .crossSiteNav(@userColor,78px); margin-bottom: 0;
        .subMenu li a:before { margin-left: 6px; }
        .subMenu li:nth-child(1) a:before {.gIcon(24px,22px,-60px -54px,inline-block, middle); }
        .subMenu li:nth-child(2) a:before {.gIcon(24px,18px,-44px -0px,inline-block, middle); }
        .subMenu li:nth-child(3) a:before {.gIcon(28px,22px,-144px -31px,inline-block, middle); }
        .subMenu li.activeMessage { position: relative;
            &:after {.pesudoAbsolute();.circleMaker(8px); background: @redLink; right: -5px; top: 14px; z-index: 100; }
        }
        .subMenu li:nth-child(4) a:before {.gIcon(18px,26px,-175px -30px,inline-block, middle); }
        .subMenu li:nth-child(5) a:before {.gIcon(24px,25px,-112px -30px,inline-block, middle); }
        .subMenu li a:after { content: ''; display: inline-block; margin-right: -4px; vertical-align: middle; height: 100%; }
    }
}
.userArea {
    h3.bigTitle { .clearfix(); font-size: 3em; font-weight: normal; padding: 24px 0; position: relative;
        &:before { .gIcon(48px,33px,-59px -19px); margin-left: 8px; }
        &.password:before {.gIcon(31px,45px,-470px -19px); }
        &.watch:before {.gIcon(50px,49px,-389px 0); }
        &.notifications:before {.gIcon(28px,25px,-195px -28px); }
        &.purcahse:before {.gIcon(56px,55px,0 -27px); }
        &.noIcon:before { display: none; }
        &.mySummary:before {.gIcon(38px,49px,-392px -53px); }
        &.noPadd { padding: 0; }
        a { .actionButton(@turqText,0,120,center); font-size: 0.6em; float: left; padding-right: 20px;
            &:before {.multiTransform(); box-shadow: none; background-color: transparent; }
            &:after { display: none; }
            &.startNew {
                &:before {.gIcon(20px,25px,-174px -31px,block,top,9px, 16px); }
            }
            &.purchase { background: @sugarColor;
                &:before {.gIcon(20px,25px,-19px 0px,block,top,9px, 16px); }
            }
        }
    }
    .userCheckOut {.containerSizes(0, 1002px); padding: 40px 0; .clearfix(); .checkOut();
        .continueButton {.actionButton(@sportsColor); float: left; }
    }
    .personalForm {.containerSizes(0,1100px);
        > fieldset {.inlineBlock(); width: 410px;
            &.wide { width: 690px; }
            .textInput { .progressTextInput();
                &.middle { width: 228px; }
                &.mid { width: 128px; }
                &.small { width: 72px; }
                &.valid {.qBg(-356px -51px); background-repeat: no-repeat; }
                &.notValid {.qBg(-356px -84px); background-repeat: no-repeat; }
            }
            .formRow { display: block; padding-bottom: 18px;
                > * {.inlineBlock(middle);
                    &.passwordGraph { display: block; font-size: 14px; background: rgba(255,255,255,0.4); margin: 0 109px 0 17px; border: 1px solid rgba(0,0,0,0.15); padding: 9px 22px;
                        > span {.inlineBlock(middle); padding-right: 20px;
                            &.graphSelf { width: 140px; height: 6px; padding: 0; background: @disableText;
                                > em { display: block; height: 100%; width: 50%; }
                            }
                        }
                        &.orange {
                            > span { color: @orange;
                                &.graphSelf {
                                    > em { background: @orange; }
                                }
                            }
                        }
                        &.red {
                            > span { color: @redLink;
                                &.graphSelf {
                                    > em { background: @redLink; }
                                }
                            }
                        }
                        &.green {
                            > span { color: @successColor;
                                &.graphSelf {
                                    > em { background: @successColor; }
                                }
                            }
                        }
                    }
                }
            }
            .personalFormStyles();
            .continueButton {.actionButton(@sportsColor);
                &:before {.gIcon(25px,22px, 0px -80px,block,top,10px,12px); background-color: transparent; box-shadow: none; .multiTransform(); }
                &:after { display: none; }
            }
        }
        padding-bottom: 40px; }
    .topInformation { background: @lightGreyBg; text-align: center;
        > article {.inlineBlock(); width: 550px; text-align: right;
            &.purchaseHistory {
                .listWrapper { height: 206px; .scrollPaneStyle(4px,@greyBg,@textColor,0px); width: 530px;
                    li.purchase { display: block; margin-top: 20px; width: 496px; background: white; height: 80px; position: relative;
                        &:before { display: inline-block; vertical-align: middle; background: @pinkButton; box-shadow: inset 0 -40px 80px -40px rgba(255,255,255,.3); content: ''; width: 102px; height: 100%; }
                        &:after {.gIcon(62px,25px,-165px 0,block,middle,28px,415px); }
                        &.orange:before { background: lighten(@orange, 10%); }
                        span {.inlineBlock(middle); padding: 0 12px;
                            &.product { width: 220px; }
                            > span { display: block; font-size: @standardFont; margin-right: 0;
                                &.name { font-size: 2.4em; }
                                &.priceSelf { font-size: @bigFont; }
                                &.quan { color: @disableText; }
                            }
                            &.refresh {.squareMaker(25px); padding: 0; margin-right: 20px; .gBg(-140px 1px); }
                        }
                        a { color: @pinkButton; text-decoration: none; }
                        &.orange a { color: lighten(@orange, 10%); }
                    }
                }
                > a.refresh {.actionButton(@sugarColor); margin: 20px 0; padding-right: 20px;
                    &:before {.multiTransform(); box-shadow: none; background-color: transparent; .gIcon(25px,25px,-140px 1px,block,top,8px,14px); right: auto; }
                    &:after { display: none; }
                }
            }
            &.notifications { padding-right: 36px;
                .notifList { padding-top: 10px;
                    > li { background: @disableColor; margin-bottom: 6px; padding: 14px 18px; position: relative;
                        > span { display: inline-block; position: relative; min-height: 50px; padding-top: 6px; padding-right: 80px; width: 450px;
                            &:after { height: 50px; }
                            &:before {.gIcon(58px,48px,-276px 0,block,top,2px,392px); }
                            > span { font-size: @biggerFont; display: block; padding-bottom: 4px;
                                &.description { font-size: @standardFont; color: @textColor; }
                            }
                        }
                        &.error:before, &.success:before { height: 20px; width: 4px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); background: darken(@successColor, 20%); .pesudoAbsolute(); top: 50%; left: 22px; margin-top: -16px; }
                        &.error:after, &.success:after { height: 20px; width: 4px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); background: darken(@successColor, 20%); .pesudoAbsolute(); bottom: 50%; left: 22px; margin-bottom: -16px; }
                        &.success { color: darken(@successColor, 20%);
                            > span:before {.gIcon(50px,44px,-338px 0,block,top,6px,392px); }
                        }
                        &.error { color: darken(@redLink, 20%);
                            &:before, &:after { background: darken(@redLink, 20%); }
                            > span:before {.gIcon(48px,44px,-226px 0,block,top,6px,392px); }
                        }
                    }
                }
            }
        }
    }
    .summaryTitle { background: @turqText; padding: 8px 12px; .clearfix();.containerSizes(0,1100px); margin-top: 32px;
        h3 { float: right; padding: 0; }
        .summaryActions { display: block; float: left;
            > label {.inlineBlock(); margin-left: 6px;
                .dd-select { background: @bodyBg !important; font-size: 1.4em; }
                .dd-selected { padding: 7px 10px 8px; }
                .dd-pointer { right: auto; left: 10px; }
                .dd-pointer-down { border-top-color: @turqText; }
                .dd-pointer-up { border-bottom-color: @turqText !important; }
                .dd-option { font-size: 1.4em; }
            }
            > span {.inlineBlock(); height: 50px; width: 46px; background: @bodyBg; margin-left: 4px; position: relative;
                &.mail:before {.gIcon(27px,20px,-109px 0,block,top,15px,9px); }
                &.pdf:before {.gIcon(18px,24px,-125px -60px,block,top,14px,14px); }
                &.print:before {.gIcon(25px,25px,-471px -71px,block,top,13px,12px); }
            }
        }
    }
    .userSummary {.containerSizes(0,1020px); padding-bottom: 40px;
        .productRow { .productRowAll(); margin: 0 0 32px; }
        .nutritionMenu {.nutritionMenuAll(); }
        .bloodAndBMI {.bloodAndBMIAll(); }
        .personalDetails { background: @disableColor; width: 1018px; margin-bottom: 32px; position: relative;
            &:before {.pesudoAbsolute(); left: 334px; border-right: 6px solid @bodyBg; height: 100%; top: 0; }
            &:after {.pesudoAbsolute(); left: 672px; border-right: 6px solid @bodyBg; height: 100%; top: 0; }
            > article { width: 340px; .inlineBlock(); border-right: 6px solid transparent; padding: 0 0 32px;
                &:first-child { border-right: medium none; }
                h4 { color: @turqText; font-size: 3em; background: rgba(255,255,255,0.4); font-weight: normal; padding: 0 20px; height: 64px; .pesudoValign(); margin-bottom: 22px; }
                > span { background: white; font-size: @standardFont; min-height: 40px; padding: 6px 12px; .pesudoValign(); margin: 0px 20px 1px; display: block; box-shadow: 0px 1px 2px rgba(0,0,0,.4);
                    &:before { height: 28px; }
                    &.sportRow { color: @disableText; padding: 0;
                        figure {.squareMaker(72px); background: @disableText; .inlineBlock(middle); margin-right: -1px !important; position: relative;
                            &:before {.pesudoAbsolute();.squareMaker(50px);.qBg(0px 0px,300px auto);top: 11px; left: 11px; }
                            &.run:before {background-position:-48px -99px; }
                            &.walk:before { background-position:-49px -49px; }
                            &.weight:before { background-position:-0px -49px; }
                            &.tennis:before { background-position:0px -99px; }
                            &.futBall:before { background-position:-49px -147px; }
                            &.basketBall:before { background-position:0px -147px; }
                            &.handBall:before { background-position:-99px -147px; }
                            &.swim:before { background-position:-99px -99px; }
                            &.gym:before { background-position:-99px -52px; }
                            &.anarobi:before { background-position:-48px -0px; }
                            &.eirobi:before { background-position:-99px -0px; }
                        }
                        > span { padding: 6px 8px; width: 216px; .inlineBlock(middle);
                            > span { display: block; }
                        }
                        strong { font-weight: normal; color: @textColor; }
                    }
                }
            }
        }
    }
    .userMessages {.containerSizes(0,1100px);.clearfix();
        > * { float: right; width: 660px; padding-left: 60px;
            &.messageForm { background: rgba(255,255,255,0.5); width: 440px; padding: 60px 42px; min-height: 462px; z-index: 20; .clearfix();
                h3 { font-size: 3.2em; font-weight: normal; padding-bottom: 32px; .clearfix();
                    &:after {.gIcon(32px, 32px, -184px -61px); float: left; }
                }
                label { display: block;
                    input, textarea {.progressTextInput(); width: 100%; margin-bottom: 12px; color: @disableText; }
                    textarea { height: 236px; }
                    &.fileLabel { display: block; position: relative; width: 210px; .inlineBlock(middle,0);
                        > span { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 1.6em;
                            &:before {.gIcon(23px,22px,-442px -60px); margin-left: 6px; }
                        }
                        input { height: 100%; width: 100%; position: absolute; z-index: 200; opacity: 0; }
                    }
                }
                .sendButton {.inlineBlock(middle); height: 36px; padding: 4px 6px; float: left; background: @turqText; color: white; font-size: @standardFont; text-decoration: none;
                    &:before {.gIcon(25px, 24px, -151px -59px, inline-block,text-bottom); margin-left: 6px; }
                }
            }
            &.messageSection {
                h2 { padding: 62px 0 34px; font-size: 3.2em; font-weight: normal;
                    a {.inlineBlock(top); text-decoration: none; padding-left: 10px;
                        &.outMail:after {.gIcon(28px,22px,-223px -49px); margin-right: 6px; }
                        &.inMail:after {.gIcon(28px,22px,-224px -80px); margin-right: 6px; }
                        &.active { color: @turqText; text-decoration: underline; }
                    }
                }
                li.message { overflow: hidden; background: white; height: 48px; border-bottom: 1px solid @disableColor; color: @disableText; font-size: @standardFont;
                    .messageTitle { height: 48px; .clearfix(); display: block; padding: 0 16px 0 30px; cursor: pointer;
                        &:before {.gIcon(28px, 21px,-82px -82px); margin-left: 6px; }
                        > span {.inlineBlock(middle); line-height: 46px; padding-left: 24px;
                            &.titleSelf { color: @textColor; }
                            &.messageDate { float: left; padding-left: 0; }
                        }
                    }
                    &.open { height: auto;
                        .messageTitle { background: @turqText; position: relative;
                            &:before {.gIcon(28px, 21px,-52px -82px); }
                            &:after {.pesudoAbsolute();.triangle(down,14px,@turqText); bottom: -8px; right: 30px; }
                            span:not(.titleSelf) { display: none; }
                        }
                    }
                    .messageSelf { padding: 24px 20px; display: block;
                        > span { display: block; padding-bottom: 12px; }
                        label { display: block; padding-bottom: 12px;
                            textarea {.progressTextInput(); height: 100px; width: 100%; font-size: 1em; color: @disableText; }
                        }
                        > a {.inlineBlock(top,0); color: @turqText;
                            &:before {.gIcon(25px,23px,-88px -55px); margin-left: 8px; }
                        }
                    }
                }
            }
        }
    }
}
.topMenu.catalogTop {
    .siteNav {.crossSiteNav(#54c6c6,78px);
        nav {
            .loginRow { position: relative;
                .title { font-size: @standardFont; display: block; line-height: 54px;
                    &:before {.gIcon(26px, 25px, -320px -52px); margin-left: 4px; }
                    a { color: white; height: 56px; .inlineBlock(top); padding: 0 8px; position: relative; z-index: 20;
                        &.hover:before {.pesudoAbsolute(); width: 100%; top: 0; left: 0; right: 0; bottom: -1px; background: @lightAzure; z-index: -1; border: 1px solid @darkAzure; border-bottom: medium none; }
                    }
                }
                .loginFormMix(); }
            .miniCart { padding-top: 10px; display: block; font-size: 1.6em;
                &:before {.gIcon(24px,25px,-351px -52px); margin-left: 6px; }
                .white { color: #fff; .inlineBlock(middle); padding-left: 8px; }
                .actionButton { .actionButton(@nutriColor,0,0,center);.inlineBlock(middle); height: 36px; font-size: 1em; margin-right: 14px; line-height: 34px; text-align: center; padding: 0 18px;
                    &:before, &:after { display: none; }
                }
            }
        }
    }
}
.catalog {
    .catalogCat {.containerSizes(0,1100px); padding-right: 280px; position: relative;
        .catalogFilter { width: 250px; display: block; position: absolute; top: 0; right: 0;
            .inputText { font-size: @standardFont; display: block; padding: 12px 0 4px; color: @disableText; }
            .searchInput { width: 100%; position: relative; display: block;
                .textInput {.progressTextInput(); width: 100%; padding-right: 26px; }
                &:before {.pesudoAbsolute();.circleMaker(14px); border: 2px solid @disableColor; top: 8px; right: 12px; z-index: 18; }
                &:after {.pesudoAbsolute(); height: 10px; width: 2px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); background: @disableColor; z-index: 18; top: 18px; right: 12px; }
            }
            .catSelect { display: block; width: 100%; position: relative;
                select { width: 100%; -webkit-appearance: none; height: 44px; background: @turqText; color: white; position: relative; border: medium none; font-size: @bigFont; -moz-appearance: none; padding-left: 20px; }
                &:after {.triangle(down,6px,rgba(0,0,0,0.3));.pesudoAbsolute(); top: 18px; left: 14px; z-index: 10; }
            }
            .checkBoxesTitle { background: @turqText; padding: 16px 16px 16px 50px; position: relative; color: white; font-size: 2.2em; display: block; width: 100%;
                &:before {.pesudoAbsolute(); left: 14px; top: 20px; height: 3px; width: 26px; background: rgba(255,255,255,.3); box-shadow: 0 5px 0 rgba(255,255,255,.3), 0 10px 0 rgba(255,255,255,.3), 0 15px 0 rgba(255,255,255,.3); }
            }
            .checkLabel { display: block; background: @lightAzure; border-top: 1px solid white; padding: 10px 0; font-size: 1.6em;
                &:before {.circleMaker(36px); content: ''; .inlineBlock(middle); border: 2px solid white; margin: 0px 18px; }
                .checkText { width: 146px; .inlineBlock(middle); }
                input {.inlineBlock(middle); height: 0; width: 0;
                    & + i {.inlineBlock(middle);.squareMaker(26px); background: rgba(255,255,255,.4); position: relative; }
                    &:checked + i { .Vsign(14px,3px,-1px,@turqText);
                        &:before { left: 15px; }
                        &:after { left: 8px; }
                    }
                }
            }
        }
        .topSlideshow { height: 332px; width: 384 + 426px;
            > .slideContainer {.clearfix(); height: 332px; width: 384 + 426px;
                figure { height: 332px; width: 426px; float: right;
                    img { max-height: 100%; max-width: 100%; }
                }
                .slideShowText { background: @digestionColor; width: 384px; float: right; padding: 34px 48px; height: 332px;
                    &:before {.pesudoAbsolute(); .triangleBottomLeft(rgba(255,255,255,0.3),26px); right: 0; top: 0; }
                    > span { display: block;
                        &.title { font-size: 3em; line-height: 26px; color: #fff; }
                        &.description { font-size: @standardFont; padding-top: 26px; }
                    }
                }
            }
            > .cycle-pager { display: block; position: absolute; bottom: -6px; right: 10px; z-index: 1000; font-size: 56px; color: rgba(0,0,0,0.4); cursor: pointer;
                .cycle-pager-active { color: rgba(255,255,255,.5); }
            }
        }
    }
    .productPage { margin-top: -20px;
        .productSection { text-align: center; background: white; box-shadow: 0 1px 2px #c8c8c8; padding-bottom: 30px;
            figure {.inlineBlock(); width: 266px; padding-top: 10px;
                img {.inlineBlock(); max-height: 100%; max-width: 100%; }
            }
            .prodVars { width: 574px; padding: 0 54px 0 92px; text-align: right; .inlineBlock(); padding-top: 46px;
                > * { display: block;
                    &.subTitle { font-size: 2.4em; color: @disableText; }
                    &.title { font-size: 3.6em; line-height: 30px; min-height: 74px; padding-bottom: 12px; }
                    &.prodDesc { font-size: @smallFont; line-height: 18px; min-height: 180px; padding-bottom: 12px;
                        a.scienceLink { display: block; padding-top: 8px;
                            &:before {.gIcon(15px,17px,-442px -3px,inline-block,text-bottom); margin-left: 6px; }
                        }
                    }
                    &.buyProduct {
                        .detailsRow { border-top: 1px solid @greyBorder; border-bottom: 1px solid @greyBorder; display: block; padding: 8px 0;
                            > * {.inlineBlock(middle); font-size: @smallFont;
                                .grey { color: @disableText; display: block; }
                                &.counterLabel {.counterLabel(@disableText); display: inline-block; position: relative; top: auto; left: auto; margin: 0 8px; }
                                &:last-child { text-align: left; width: 246px; }
                            }
                        }
                        .buyRow {.clearfix(); text-align: left; display: block; padding-top: 40px;
                            .price { float: right; text-align: right; font-size: @bigFont; color: @disableText;
                                > span { display: block; color: @pinkButton; font-size: 32px; }
                            }
                            > a { .actionButton(@turqText);
                                &.pink {.actionButton(@nutriColor); }
                                &.pink, &.azure { height: 46px; line-height: 44px; width: 94 + 36px; text-align: right; margin-right: 12px; }
                            }
                        }
                    }
                }
            }
            .prodDetails {.inlineBlock(); width: 1100 - 574 - 266px; text-align: right; padding-top: 60px;
                .specList { min-height: 278px; padding-bottom: 34px;
                    > li { padding: 8px 12 + 34px 8px 12px; position: relative; .pesudoValign(); font-size: @standardFont; background: @bodyBg; margin-bottom: 6px;
                        &:before { height: 22px; }
                        &:after {.pesudoAbsolute(); top: 8px; right: 12px; .squareMaker(22px); background-color: @sugarColor; border: 4px solid @sugarColor; .gBg(-485px 0); }
                    }
                }
                .prodTable { table-layout: fixed; position: relative; bottom: 0; background: @bodyBg; font-size: @smallFont; text-align: right; position: relative;
                    &:before {.pesudoAbsolute(); content: attr(data-table-title); font-size: 18px; color: @disableText; top: -24px; }
                    th { width: 56px; border-bottom: 1px solid @turqText; border-left: 1px solid white; padding: 6px; text-align: right;
                        &:first-child { width: 122px; }
                        &:last-child { width: 86px; }
                    }
                    td { border-left: 1px solid white; padding: 6px; text-align: right; border-bottom: 1px solid white; vertical-align: top; font: normal 12px Arial; }
                }
            }
        }
        .productsContainer {.containerSizes(0,1100px); }
    }
}
.productsContainer { width: 100%;
    h2 { font-weight: normal; padding: 22px 0; font-size: 3em; .clearfix(); color: @disableText;
        &.featured:before {.gIcon(52px,50px,-258px -50px,inline-block,text-bottom); margin-left: 8px; }
        a { color: @disableText; }
        .leftSelect { float: left; position: relative;
            select { -webkit-appearance: none; -moz-appearance: none; width: 220px; padding-left: 40px; height: 44px; border: 1px solid @disableColor; font-size: 18px; }
            &:before {.pesudoAbsolute(); z-index: 10; top: 18px; left: 14px; .triangle(down,6px,rgba(0,0,0,0.3)); }
            &:after { height: 100%; left: 40px; width: 1px; .pesudoAbsolute; top: 0; bottom: 0; background: @disableText; }
        }
    }
    > a.moreButton {.actionButton(@disableColor,255,0,center); display: block; margin: 20px auto; width: 120px; }
    > .productBricks { position: relative;
        > .productContainer { margin-bottom: 46px; .clearfix(); padding-bottom: 20px; background: #fff; width: 252px; padding: 1px; box-shadow: 0 2px 1px rgba(0,0,0,0.2); border-radius: 1px; .cssTransition(box-shadow linear .25s);
            &:hover { box-shadow: 0 2px 11px rgba(0,0,0,.2); }
            .prodImage { height: 180px; .pesudoValign(); text-align: center; box-shadow: inset 0 0 130px rgba(0,0,0,0.23);
                img { max-width: 100%; max-height: 100%; .inlineBlock(middle); }
            }
            .likes { position: absolute; bottom: -26px; font-size: @standardFont; right: 0; text-align: center; width: 100%;
                &:before {.gIcon(16px,15px,0 0,inline-block,text-bottom); margin-left: 6px; }
                strong { font-weight: normal; font-size: 18px; }
            }
            .prodTitle { font-size: 2.2em; color: @nutriColor; padding: 12px 20px; }
            .prodDesc { display: block; padding: 0 20px 20px; font-size: @standardFont; }
            .specList { padding: 0 0 20px; border-top: 1px solid @greyBorder; margin: 0 20px;
                > li { font-size: @standardFont; padding: 7px 32px 7px 0; border-bottom: 1px solid @greyBorder; position: relative;
                    &:before {.pesudoAbsolute();.squareMaker(22px); background: @digestionColor; right: 0; top: 4px; .gBg(-482px 0); border: 4px solid @digestionColor; }
                }
            }
            .prodPrice { float: right; padding-right: 20px;
                > span { display: block;
                    &.realPrice { color: @turqText; font-size: 2.4em; }
                    &.wholePrice { font-size: @standardFont; text-decoration: line-through; }
                }
            }
            .continueToProduct { display: block; float: left; width: 46px; height: 50px; background: @turqText; position: relative; margin-left: 20px; margin-bottom: 20px;
                &:before {.pesudoAbsolute();.triangle(left,16px,white); left: 15px; top: 8px; }
                &:after {.pesudoAbsolute();.triangle(left,16px,@turqText); left: 18px; top: 8px; }
                &:hover { background: @pinkButton;
                    &:after {.triangle(left,16px,@pinkButton); }
                }
            }
        }
    }
}
